:root{
    --bg-color: radial-gradient(98.96% 98.96% at 50% 0%, #232A34 0%, #181E27 100%);
    --orange: #FC7614;
    --grey-light:#7C8798;
    

}


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: #131518;
}



.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    
}

.card {
    font-family: "Overpass", sans-serif;
    background: var(--bg-color);
    max-width: 412px;
    width: 100%;
    color: #fff;
    padding: 32px;
    border-radius: 20px;

}

/* .card-avaliacao{
    display: none;
} */

.star{
    width: 48px;
    height: 48px;
    background: #262E38;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    margin-bottom: 30px ;
}

.card-avaliacao p{
    font-size: 15px;
    color: var(--grey-light);
    line-height: 24px;
    font-weight: 400;
}


.item-nota{
    background:#262E38;
    width: 51px;
    height: 51px;
    border-radius: 50px;
    margin: 5px;
    position: relative;
   

}

.item-nota:hover{
    background: var(--grey-light);
    color: #fff;
}
.item-nota:hover label{
    
    color: #fff;
}

.item-nota label{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 51px;
    color: #7C8798;
    font-size: 16px;
}

.item-nota input[type=radio]{
    display:none; 
}



.item-nota input[type=radio] + label::before{
    content: "";
    max-width: 51px;
    width: 100%;
    height: 51px;
    display: inline-block;
    
    border-radius:4px;
    position: absolute;
    right: 0px;
    left: 0px;
    cursor: pointer;
    border-radius: 50%;
    

} 


.item-nota input[type=radio]:checked + label::before{
   
    color: #FFF;
    content: "";
    text-align: center;

    border-radius: 50px;
}




.item-nota:has(input[type=radio]:checked){
    background: var(--orange);
    
} 

.item-nota:has(input[type=radio]:checked) label{
    color: #fff;
    
}    


.notas-container{
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
}


.btn-submit{
 max-width: 341px;
 width: 100%;
 height: 45px;
 border-radius: 50px;
 margin: 32px auto 0px;
 color:#fff;
 background:  var(--orange);
 border: none;
 font-size: 16px;
 cursor: pointer;
 transition: 0.8s ease;
 
}

.btn-submit:hover{
    color:var(--orange);
    background: #fff;
    transition: 0.8s;
}


@media screen and (max-width:424px) {
    .item-nota{
        width: 35px;
        height: 35px;
    }
    .item-nota label{
        height: 35px;
    }

    .item-nota input[type=radio] + label::before{
        width: 35px;
        height: 35px;
    }
    
}


/***/

.card-concluido-avaliacao{
    padding: 45px 40px;
    display: none;
}

.header-card-concluido{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 32px;
    margin-bottom: 32px;
}


.header-card-concluido p{
    font-size: 15px;
    color: var(--orange);
    background: #262E38 ;
    padding: 4px 20px;
    font-weight: 400;
    border-radius: 50px;


}

.txt-card-concluido h2{
    font-size: 28px;
    text-align: center;
    margin-bottom: 5px;

}

.txt-card-concluido p{
    font-weight: 400;
    text-align: center;
    font-size: 15px;
    color: var(--grey-light);
    line-height: 24px;

}




@keyframes flipInX {
    from {
      transform: perspective(400px) rotateX(90deg);
      opacity: 0;
    }
    40% {
      transform: perspective(400px) rotateX(-10deg);
    }
    70% {
      transform: perspective(400px) rotateX(10deg);
    }
    to {
      transform: perspective(400px) rotateX(0deg);
      opacity: 1;
    }
  }
  

  .flipInX {
    animation-name: flipInX;
    animation-duration: 1s;
    animation-fill-mode: both;
    display: block;
  }
  


  @keyframes flipOutX {
    from {
      transform: perspective(400px) rotateX(0deg);
      opacity: 1;
    }
    30% {
      transform: perspective(400px) rotateX(-10deg);
      opacity: 1;
    }
    to {
      transform: perspective(400px) rotateX(90deg);
      opacity: 0;
    }
  }
  

  .flipOutX {
    animation-name: flipOutX;
    animation-duration: 1s;
    animation-fill-mode: both;
    
  }